/* index.css or styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.service_choose{
    position: relative;
    top: 80px;
}
.portfolio{
    position: relative;
    top: 50px;
}
.scroll{
    position: relative;
    top: 450px;
}
.companygrowth{
    position: relative;
    top: 500px;
}
.Team{
    position: relative;
    top: 500px;
}



@layer utilities {
    @keyframes carousel-animate-vertical {
      0% {
        transform: translateY(100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
      }
      27%,
      33% {
        transform: translateY(100%) scale(0.7);
        opacity: .4;
        visibility: visible;
      }
      34%,
      66% {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
      }
      67%,
      100% {
        transform: translateY(-100%) scale(0.7);
        opacity: .4;
        visibility: visible;
      }
    }
    .animate-carousel {
      animation: carousel-animate-vertical 27s linear infinite;
    }
  }
  
  @keyframes logo-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll 25s linear infinite;
}
